/.apt_generated/
/target/
.classpath
.factorypath
.project
.settings/.jsdtscope
*.prefs
*.component
*.container
*.name
.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
.settings/org.eclipse.wst.common.project.facet.core.xml
